<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RequestBeanDemoLogin</key>
	<dict>
		<key>api</key>
		<string>/login</string>
		<key>scheme</key>
		<string>HTTP</string>
		<key>method</key>
		<string>GET</string>
		<key>desc</key>
		<string>接口描述：登陆</string>
	</dict>
	<key>RequestBeanDemoRegister</key>
	<dict>
		<key>api</key>
		<string>/register</string>
		<key>scheme</key>
		<string>HTTP</string>
		<key>method</key>
		<string>POST</string>
		<key>desc</key>
		<string>接口描述：注册</string>
	</dict>
	<key>RequestBeanDemoNews</key>
	<dict>
		<key>api</key>
		<string>/news</string>
		<key>scheme</key>
		<string>HTTP</string>
		<key>method</key>
		<string>GET</string>
		<key>desc</key>
		<string>获取新闻列表</string>
	</dict>
	<key>RequestBeanDemoFilm</key>
	<dict>
		<key>api</key>
		<string>/film</string>
		<key>scheme</key>
		<string>HTTPS</string>
		<key>method</key>
		<string>GET</string>
		<key>desc</key>
		<string>接口描述：电影列表</string>
	</dict>
</dict>
</plist>
